
@{
    ViewBag.Title = "Index";
}
<!--CONTENT START-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 text-center">
            <h2 class="text-center">VIRKSOMHED</h2>
            <img class="img-responsive img-pos" width="700" src="~/Content/GFX/DESKTOP.png" />
            <a href="/Home/MereOmVirk/" class="btn btn-VIRK visible-xs visible-md visible-sm">
                SE MERE SOM VIRKSOMHED
            </a>
        </div>
        <div class="col-lg-4 hidden-xs text-center">
            <h2 class="text-center">JOBSØGENDE</h2>
            <div>
                <img class="img-responsive img-pos" width="257" src="~/Content/GFX/APP.png" />
            </div>
            <a href="/Home/MereOmApp/" class="btn btn-VIRK visible-xs visible-md visible-sm knapBundPos">
                SE MERE SOM JOBSØGENDE
            </a>
        </div>
        <div class="col-lg-4 visible-xs text-center">
            <h2 class="text-center">JOBSØGENDE</h2>
            <img class="img-responsive img-pos" width="200" src="~/Content/GFX/APP.png" />
            <a href="/Home/MereOmApp/" class="btn btn-VIRK knapBundPos">
                SE MERE SOM JOBSØGENDE
            </a>
        </div>
    </div>
    <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-lg-8 text-center">
            <a href="/Home/MereOmVirk/" class="btn btn-VIRK">
                SE MERE SOM VIRKSOMHED
            </a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="/Home/MereOmApp/" class="btn btn-VIRK">
                SE MERE SOM JOBSØGENDE
            </a>
        </div>
    </div>
</div>
<!--CONTENT SLUT-->
