
@{
    ViewBag.Title = "MereOmApp";
}
<!--DOWNLOAD APP POPUP START-->
<div class="modal fade" id="myModalapp" role="dialog">
    <div class="modal-dialog">
        <!-- MODAL DOWLOAD START-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="row">
                <div class="login-box well">
                    <a href="#"><img class="img-responsive" src="~/Content/GFX/google-play-badge.png" /></a>
                    <br />
                    <a href="#"><img class="img-responsive" src="~/Content/GFX/App-store-badge.png" /></a>
                </div>
                <div class='col-md-3'></div>
            </div>
        </div>
        <!-- MODAL DOWLOAD SLUT-->
    </div>
</div>
<!--DOWNLOAD APP POPUP SLUT-->
<!--CONTENT START-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 visible-lg">
            <div id="mereOMdesktop">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="text-center">
                <a href="#" data-toggle="modal" data-target="#myModalapp" class="btn btn-DOWN">Hent APP <i class="fa fa-mobile-phone"></i></a>
            </div>
        </div>
        <div class="col-lg-4 hidden-xs text-center">
            <h2 class="text-center">JOBSØGENDE</h2>
            <img class="img-responsive img-pos" width="257" src="~/Content/GFX/APP.png" />
        </div>
        <div class="col-lg-4 visible-xs text-center">
            <h2 class="text-center">JOBSØGENDE</h2>
            <img class="img-responsive img-pos" width="200" src="~/Content/GFX/APP.png" />
        </div>
        <div class="col-lg-8 visible-xs visible-sm visible-md">
            <div id="mereOMmobile">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <p>
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="text-center">
                <a href="#" data-toggle="modal" data-target="#myModalapp" class="btn btn-DOWN knapBundPos">Hent APP <i class="fa fa-mobile-phone"></i></a>
            </div>
        </div>
    </div>
    <div class="row hidden-xs hidden-sm hidden-md">
        <div class="col-lg-8 text-center">
        </div>
        <div class="col-lg-4 text-center">
        </div>
    </div>
</div>
<!--CONTENT SLUT-->