.center {
  margin-left: auto;
  margin-right: auto; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.font {
  font-family: 'Roboto', Verdana, sans-serif; }

#cont nav {
  color: gray;
  position: fixed; }

.ui-panel-wrapper .ui-header {
  border: 1px;
  background: -webkit-linear-gradient(top, #ff4b00 0%, #ff4b00 49%, #ff4b00 50%, #c92a29 100%);
  border-color: rgba(255, 255, 255, 0); }

#pageOpret header {
  border: 1px;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0); }

.ui-header .ui-title {
  padding: .4em 0; }

.fa-bars, .fa-sliders {
  color: whitesmoke; }

.fa-angle-left {
  color: #ff4b00;
  font-weight: lighter; }

#cont .demo-page header {
  background-color: #ff4b00;
  min-height: 55px; }

#cont .demo-page .opretBruger {
  background-color: rgba(255, 255, 255, 0); }

#cont header a {
  border-color: rgba(255, 255, 255, 0); }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

#cont a {
  color: gray;
  font-weight: normal; }

#cont ul li .icons {
  margin-right: 20%;
  color: lightgray; }

#cont nav ul li {
  margin-bottom: 10%; }

#cont nav ul .botIcons {
  margin-left: 25%;
  color: lightgray; }

.navProfil {
  width: 100%; }

nav ul {
  list-style-type: none;
  margin-top: 10%;
  padding-left: 6%; }

.profilPic {
  max-width: 150px;
  box-shadow: 0px 0px 10px black;
  margin-bottom: 10%; }

.badge {
  background-color: #ff4b00;
  margin-right: 18%; }

header img {
  padding-top: 6%; }

/*@media (min-height:479px) and (max-height:569) {
    #cont nav .navProfil .profilPic{
        max-width:100px!important;
    }
}*/
@media screen and (min-height: 479px) {
  .profilPic {
    max-width: 100px !important; } }

